<!doctype html>
<html>

<head>
  <title>首页</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .fontstyle {
      margin-right: 7px;
      font-weight: bolder;
      font-size: larger;
    }
  </style>
</head>

<body style="background:url(./images/sky.jpg) repeat;">
  <div style="border-bottom:1px solid #d9edf7;height: 34px;background-color: azure;">  
    <div style="float: right;display:block;margin: 5px;">
      <a class="fontstyle" href="/login">登录</a>
      <a class="fontstyle" href="/signin">注册</a>
    </div>
  </div>   
</body>

</html>